*, *::before, *::before{
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font;
  color: $black;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  background-color: #F0F4F5;
}

#root {
  display: block;
  width: 100%;
  margin: 0 auto;
}

h3 {
  text-transform: uppercase;
  font-size: rem(12);
  color: #797979;
  margin-bottom: rem(24);
}

a {
  text-decoration: none;
}

h2 {
  font-size: rem(18);
  line-height: rem(24);
  margin-bottom: rem(8);
  font-weight: 400;
}

h1 {
  font-size: rem(18);
  line-height: rem(24);
  margin-bottom: rem(8);
  font-weight: 400;
}

input {
  height: rem(36);
  line-height: rem(36);
  padding: 0 rem(8);
  font-size: rem(14);
}