/**
* rem to px
*/
/**
* EZ Breakpoints
*/
/**
* Font Smooth
*/
.Form {
  flex-grow: 1;
  padding: 0 2rem;
  display: block; }
  .Form .InputLine {
    margin: 20px 0px; }
  .Form h3 {
    font-size: 1.4rem;
    margin: 3% auto 5% auto;
    color: #515151;
    letter-spacing: 1px;
    font-weight: 500; }
  @media (min-width: 58em) {
    .Form {
      flex-wrap: wrap;
      display: flex; } }
  .Form section {
    width: 100%; }
  .Form header {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .Form footer {
    margin: 2.5rem 0 3.75rem;
    text-align: left;
    cursor: pointer;
    width: 100%; }
    .Form footer a {
      color: #2F2F2F;
      display: inline-block;
      border: 1px solid #2F2F2F;
      font-weight: 500;
      border-radius: 0.125rem;
      padding: 0.5rem 2.125rem;
      text-transform: uppercase;
      font-size: 0.875rem; }
      .Form footer a:hover {
        color: #F60;
        border-color: #F60; }
