@import "../../../styles/main/mixins.scss";
@import "../../../styles/main/config.scss";

.Form {
  flex-grow: 1;
  padding: 0 rem(32);
  display: block;
  .InputLine{
    margin: 20px 0px;
  }
  h3{
    font-size: 1.4rem;
    margin: 3% auto 5% auto;
    color: #515151;
    letter-spacing: 1px;
    font-weight: 500;
  }
  
  @include breakpoint(md) {
    flex-wrap: wrap;
    display: flex;
  }

  section{
    width: 100%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  footer {
    margin: rem(40) 0 rem(60);
    text-align: left;
    cursor: pointer;
    width: 100%;
    
    a {
      color: $black;
      display: inline-block;
      border: 1px solid $black;
      font-weight: 500;
      border-radius: rem(2);
      padding: rem(8) rem(34);
      text-transform: uppercase;
      font-size: rem(14);
      
      &:hover {
        color: $main-color;
        border-color: $main-color;
      }
    }
  }
}
