/**
* rem to px
*/
/**
* EZ Breakpoints
*/
/**
* Font Smooth
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::before {
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: #2F2F2F;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  background-color: #F0F4F5; }

#root {
  display: block;
  width: 100%;
  margin: 0 auto; }

h3 {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #797979;
  margin-bottom: 1.5rem; }

a {
  text-decoration: none; }

h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400; }

h1 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400; }

input {
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0 0.5rem;
  font-size: 0.875rem; }
