@import "../../../styles/main/mixins.scss";
@import "../../../styles/main/config.scss";

.ValidationForm{
    flex-flow: column;
    .ValidationFormLabel{
        max-width: 100%;
        display: flex;
        flex-flow: column;
        @include breakpoint(md) {
            flex-flow: row;
            max-width: 80%;
          }

        label{
            text-align: left;
            display: flex;
            flex-flow: column;
            background-color: white;
            font-size: 10px;
            font-weight: 100;
            padding: 10px;
            min-width: 80%;
            height: 50px;
        }
    }
    div{
        input{
            height: 50px;
            border: none;
            +span{
                height: 50px;
            }
        }
        span{
            background-color: #F26767;
            color: white;
            font-weight: 400;
            font-size: 13px;
            max-width: 100%;
            display: flex;
            align-items: center;
            @include breakpoint(md) {
                max-width: 80%;
            }
        }
    }
    button{
        background-color: #0070D2;
        border-radius: 4px;
        background-image: none !important;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        width: 100%;
        margin: 0px;
        border: none;
        @include breakpoint(md) {
            width: 64%;
        }
    }
    button[type=submit]:before{
        content: ' ' !important;
    }
}