/**
* rem to px
*/
/**
* EZ Breakpoints
*/
/**
* Font Smooth
*/
.ValidationForm {
  flex-flow: column; }
  .ValidationForm .ValidationFormLabel {
    max-width: 100%;
    display: flex;
    flex-flow: column; }
    @media (min-width: 58em) {
      .ValidationForm .ValidationFormLabel {
        flex-flow: row;
        max-width: 80%; } }
    .ValidationForm .ValidationFormLabel label {
      text-align: left;
      display: flex;
      flex-flow: column;
      background-color: white;
      font-size: 10px;
      font-weight: 100;
      padding: 10px;
      min-width: 80%;
      height: 50px; }
  .ValidationForm div input {
    height: 50px;
    border: none;
    padding-top: 5px; }
    .ValidationForm div input + span {
      height: 50px; }
  .ValidationForm div span {
    background-color: #F26767;
    color: white;
    font-weight: 400;
    font-size: 13px;
    max-width: 100%;
    display: flex;
    align-items: center; }
    @media (min-width: 58em) {
      .ValidationForm div span {
        max-width: 80%; } }
  .ValidationForm button {
    background-color: #0070D2;
    border-radius: 4px;
    background-image: none !important;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 100%;
    margin: 0px;
    border: none; }
    @media (min-width: 58em) {
      .ValidationForm button {
        width: 64%; } }
  .ValidationForm button[type=submit]:before {
    content: ' ' !important; }
