/**
* rem to px
*/
/**
* EZ Breakpoints
*/
/**
* Font Smooth
*/
.Aside {
  position: relative;
  width: 100%;
  height: 40vh;
  margin: 0px 0px 20px 0px;
  flex-shrink: 0;
  display: block;
  padding: 0px;
  background-image: linear-gradient(0deg, #6FCFFF 0%, #2199D6 100%); }
  @media (min-width: 48em) {
    .Aside {
      width: 20%;
      height: 100vh;
      display: block;
      padding: 0 2rem; } }
  .Aside .imageAside {
    display: flex; }
    .Aside .imageAside img {
      margin: auto; }
      @media (min-width: 48em) {
        .Aside .imageAside img {
          margin: 15% auto 0px auto; } }
  .Aside h3 {
    font-weight: 100;
    letter-spacing: 1.5px;
    margin: 10px;
    font-size: 1rem; }
  .Aside h3, .Aside p {
    color: white;
    text-align: center; }
  .Aside p {
    font-size: 2rem; }
  .Aside div a {
    display: block;
    cursor: pointer;
    padding: 0.3125rem 0;
    white-space: nowrap;
    text-decoration: none;
    color: #2F2F2F; }
    .Aside div a:hover, .Aside div a.active {
      color: #F60; }
    .Aside div a + div {
      display: none;
      padding-left: 1rem; }
    .Aside div a.active + div {
      display: block; }
    .Aside div a strong {
      font-size: 0.875rem;
      line-height: 1.5rem;
      vertical-align: middle; }
    .Aside div a span {
      margin-right: 0.5rem; }

.topic.active > a {
  color: #F60; }

.topic.active div {
  display: block; }

.thumb {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  background-size: 627px 16px; }
  .thumb.development {
    background-position: -247px 0px; }
  .thumb.devops {
    background-position: -445px 0px; }
  .thumb.database {
    background-position: -231px 0px; }
  .thumb.api {
    background-position: -198px 0px; }
  .thumb.library {
    background-position: -66px 0px; }
  .thumb.system {
    background-position: -577px 0px; }
  .thumb.security {
    background-position: -544px 0px; }
  .thumb.apple {
    background-position: -33px 0px; }
  .thumb.tools {
    background-position: -594px 0px; }
  .thumb.data-science {
    background-position: -429px 0px; }
  .thumb.blockchain {
    background-position: -379px 0px; }
  .thumb.mobile {
    background-position: -478px 0px; }
  .thumb.list {
    background-position: -462px 0px; }
  .thumb.social {
    background-position: -363px 0px; }
  .thumb.visual {
    background-position: 0px 0px; }
  .thumb.open-source {
    background-position: -165px 0px; }
  .thumb.all {
    background-position: -313px 0px; }
